.box{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ccc;
	height: 200px;
	width: 400px;
	margin: auto;;
	overflow: hidden;
}
.left-top{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fc0;
	width: 100px;
	height: 100px;
	margin-top:-50px;
	margin-left: -50px;
	border-radius:50px;
}
.right-bottom{
	position: absolute;
	bottom:  0;
	right:0;
	background-color: #fc0;
	width: 100px;
	height: 100px;
	margin-bottom: -50px;
	margin-right: -50px;
	border-radius:50px;
}