.clearfix:after{
	content:".";
display:block;height:0;
clear:both;
visibility:hidden;
}

.clearfix{
	*+height:1%;
}

.header{
	background-color: black;
	color: white;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 80px;
	position: relative;
}

a:link {color: #000000}
a:visited {color: #ffffff}
a:hover {color: gray}
a:active {color: #0000FF}

.logo{
	float: left;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	margin-left: 10px;
}
.nav-list{
	float: right;
	
}
.nav-list li
{
	float: left;
	margin-right: 20px;
}

.border{
	border: solid 1px #000;
	box-shadow: 2px 2px 1px 1px darkgray;
	padding: 10px;
	background-color: white;
}
.main{
	float: left;
	width: 100%;
	
	margin-bottom: 10px;
}
.main-inner{
	margin: 10px 28% 0px 5px;
}
.aside{
	float: left;
	width: 25%;
	margin-left: -27%;
	margin-top: 10px;
	margin-right: 5px;

}
.picture-size-1 {
	width: 50%;
	height: 50%;
}
.li-style{
	list-style: none;
}

.picture-style{
	display: inline-block;
	margin: 5px 5px;
	width: 100px;
}
.p-text{
	text-align: center;
	margin: 0px;
}
.table{
	width: 100%;
	border: solid 2px darkgray;
	text-align: left;
	border-collapse:collapse;
}
.tr-th{
	background-color: black;
	color: white;
	border: solid 2px darkgray;
}
table,td{
	border: solid 2px darkgray;
}
.table-last{
	border: solid 2px darkgray;
	background-color: darkgray;
}
.aside-form {
		margin: 0 auto;
			}
	
	.word {
		text-align: right;
		width: 30%;
		margin: 2px;
		display: inline-block;
		font-size: small;
	}
	
	.form-input {
		width: 65%;
		margin: 2px;
		display: inline-block;
	}
	
	.submit {
		background-color: blue;
		color: white;
		border-radius: 8px;
		padding: 5px;
		width: 100%;
		margin: 0;
	}

	html{
		margin: 0;
		padding: 0;
	}

	body{
		background-color: #cfcfcf;
		margin: 0;
		padding: 0;
	}
	.div-bgc{
		background-color: white;
	}

	.f{
		
		
		bottom: 0;
		clear: both;
	}

	.f-p{
		height: 50px;
		color: white;
		background-color: black;
		text-align: center;
		margin: 10px 0px 0px 0px;
		line-height: 3;
	}